@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');


body {
    /* if your code goes weird looking after putting in this footer, remove the margin below */
    margin: 0px;
    overflow-x: hidden;
}

footer {
    font-family: 'Jost', sans-serif;
    margin: 0px;
    position: relative;
    background-color: #cdc7ff;
    text-align: center;
    flex-direction: row;
    color: black;
    /* padding-top: 30px; */
    padding-bottom: 20px;
}

#footer {
    padding-top: 50px;
}

#footer .footerlogo {
    text-align: center;
    display: inline-block;
}

#footer a {
    text-decoration: none;
    color: #3d048c;
}

#footer li {
    display: inline;
    margin-left: 30px;
    margin-right: 30px;
    list-style-type: none;
    display: inline-block;
}

#footer li:hover {
    color: #A61F77;
}

#footer hr {
    height: 0.5px;
    border: 0;
    margin-top: 20px;
    background-color: #3d048c;
}

#footer .socmedia img {
    margin-top: 30px;
    height: 35px;
    width: auto;
    margin-left: 20px;
}

#footer #trademark {
    color: gray;
    font-size: 0.25cm;
}

#footer p {
    text-align: center;
}

#newsletter {
    text-align: left;
    background-color: #A61F77;
    color: #fff;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#newsletter p {
    color: #fff;
}

#newsletter .sub input[type=button] {
    border-radius: 5px;
    padding: 8px 15px;
    margin: 8px;
    background-color: #55d9d9;
    color: #d9048e;
    border-width: 0px;
}

#newsletter .sub input:hover[type=button] {
    background-color: #d9048e;
    color: #cdffff;
}

#newsletter .sub input[type=text] {
    padding-left: 20px;
}