/* Font Style */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

body {
  background-color: #230619;
  font-family: 'Jost', sans-serif;
  font-size: 1.15em;
}

.banner {
  width: 100%;
}

.body-contents {
  display: flex;
  flex-direction: column;
}

.card-container {
  width: 100%;
  align-items: center;
  text-align: center;
}

h1 {
  background-color: #dac2f2;
  text-align: center;
  padding: 30px;
  font-size: 2.7em;
}

p {
  font-size: 1.15em;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  flex-wrap: wrap;
  width: 600px;
  height: auto;
  margin: 10px;
  padding: 10px 30px;
  background-image: url(../img/icon-arrow-down.png);
  background-color: #f29d52;
  cursor: pointer;
  transition: height 0.5s;
  display: inline-block;
  padding-right: 10px;
  background-repeat: no-repeat;
  background-position: 85%;
  background-size: 20px 20px;
  border-radius: 20px;
}

.card:hover {
  background-color: #55d9d9;
}

.card.open {
  background-image: none;
  border-style: inset;
  border-color: rgb(236, 161, 240);
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgb(106, 0, 255), -1em 0 .4em rgb(128, 0, 98);
}

.card .artist-bio {
  display: none;
  margin: 0;
}

.card.open .artist-bio {
  display: block;
}

.card h2 {
  filter: drop-shadow(0 0 0.6rem #d9048e);
}

.card.open img {
  filter: drop-shadow(10px 10px 4px rgb(56, 56, 56));
}